{% extends "base.html" %}

{% load static %}

{% block title %}
Reset you password - 
{% endblock%}

{% block body %}


<!-- inner page banner -->
<div id="inner_banner" class="section inner_banner_section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="full">
            <div class="title-holder">
              <div class="title-holder-cell text-left">
                <h1 class="page-title">Password reset</h1>
                <ol class="breadcrumb">
                  <li><a href="/">Home</a></li>
                  <li class="active">Reset</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end inner page banner -->
  

    <div class="section padding_layout_1">
        <div class="container">
          <div class="row">
            <div class="col-md-12 offset-md-4">
              <div class="full">
                <h1 class="h2">Password Reset</h1>
                <form method="post" action="." class="django-form">
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table>
                    <button type="submit" class="btn btn-success">Reset Password</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock %}

