{% extends "base.html" %}

{% load static %}

{% block body %}

<!-- inner page banner -->
<div id="inner_banner" class="section inner_banner_section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="title-holder">
            <div class="title-holder-cell text-left">
              <h1 class="page-title">Admin DashBoard</h1>
              <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Admin Panel</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end inner page banner -->


<!-- Admin managent start-->
<div class="section padding_layout_1 service_list">
  <div class="container">
    <div class="row">
      <div class="col-md-4 service_blog margin_bottom_50">
        <div class="full">
          <div class="service_img"> <img class="img-responsive" src="./images/ScitImages/student.jpg" alt="#" /> </div>
          <div class="service_cont">
            <div class="bt_cont"> <a class="btn sqaure_bt" href="NViewStudent.html">Manage Student</a> </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 service_blog margin_bottom_50">
        <div class="full">
          <div class="service_img"> <img class="img-responsive" src="./images/ScitImages/institute.jpg" alt="#" /> </div>
          <div class="service_cont">
            <div class="bt_cont"> <a class="btn sqaure_bt" href="other_view.html">Manage Institute</a> </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 service_blog margin_bottom_50">
        <div class="full">
          <div class="service_img"> <img class="img-responsive" src="./images/ScitImages/certificate.jpg" alt="#" /> </div>
          <div class="service_cont">
            <div class="bt_cont"> <a class="btn sqaure_bt" href="certificate.html">Issue Certificate</a> </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 service_blog margin_bottom_50">
        <div class="full">
          <div class="service_img"> <img class="img-responsive" src="./images/ScitImages/coursescert.jpg" alt="#" /> </div>
          <div class="service_cont">
            <div class="bt_cont"> <a class="btn sqaure_bt" href="View_courses.html">Manage Courses</a></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 service_blog margin_bottom_50">
        <div class="full">
          <div class="service_img"> <img class="img-responsive" src="./images/ScitImages/enrollcourses.jpg" alt="#" /> </div>
          <div class="service_cont">
            <div class="bt_cont"> <a class="btn sqaure_bt" href="Enroll_stu_in_courses.html">Enroll Student In Courses</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Admin managent end-->

{% endblock body %}