{% extends "base.html" %}

{% load static %}

{% block body %}

<!-- inner page banner -->
<div id="inner_banner" class="section inner_banner_section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="title-holder">
            <div class="title-holder-cell text-left">
              <h1 class="page-title">Issued Certificate</h1>
              <ol class="breadcrumb">
                <li><a href="#">Back</a></li>
                <li class="active">Issued Certificate</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end inner page banner -->

<!--Issue Certificate-->

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <section class="pt-4">
        <form>
          <div class="mb-3">
            <label for="rollNo" class="form-label">Roll No:</label>
            <input type="text" class="form-control" id="rollNo" name="rollNo" placeholder="Enter Roll No">
          </div>
          <div class="mb-3">
            <label for="imageInput" class="form-label">Image:</label>
            <input type="file" class="form-control" id="imageInput" name="imageInput">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </section>
    </div>
  </div>
</div>


{% endblock body %}