{% extends "base.html" %}
{% block title %}
Certificates - 
{% endblock%}

{% load static %}

{% block body %}

<!-- inner page banner -->
<div id="inner_banner" class="section inner_banner_section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="title-holder">
            <div class="title-holder-cell text-left">
              <h1 class="page-title">Issued Certificate</h1>
              <ol class="breadcrumb">
                <li><a href="/superuser/">Back</a></li>
                <li class="active">Issued Certificate</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end inner page banner -->

<!--Issue Certificate-->

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <section class="p-4">
        <form action="/superuser/issue_certificate" class="django-form"  method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.errors }}
          <table>
              {{ form.as_table }}
          </table>
          <input type="submit" class="btn btn-primary" value="Submit"/>
      
        </form>
      </section>
    </div>
  </div>
</div>
<div class="container pb-4">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Student</th>
        <th scope="col">Certificate in Course</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% if certificates %}
      {% for certificate in certificates %}
      <tr>
        <td>{{certificate.Student_id.name}}</td>
        <td>{{certificate.Course_id.name}}</td>
        <td> 
          
          <form method="POST" action="/superuser/delete_certificate" onsubmit="return verify()">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{certificate.id}}"/>
            <a href="/{{certificate.src}}" style="display:inline-block;padding:6px;border-radius:4px" class="small-btn btn-secondary" download> Download </a> 
            <input type="Submit" style="display:inline-block" class="btn btn-danger btn-secondary text-white btn-sm" value="Delete"/>
          </form>  
        </td>
      </tr>
      {% endfor %}
      {% else %}
      <tr>
        <td colspan="3" class="text-center">No certificate issued</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>
<script>
function verify(){
   var c = prompt("This action is irreversible. Are you sure to delete this certificate? Type 'Yes' to verify.")
   if(c=="Yes"){
    return true;
   }else{
    return false;
   }

}
</script>

{% endblock body %}