{% extends "base.html" %}

{% load static %}

{% block body %}

<!-- inner page banner -->
<div id="inner_banner" class="section inner_banner_section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="title-holder">
            <div class="title-holder-cell text-left">
              <h1 class="page-title">Add New Student</h1>
              <ol class="breadcrumb">
                <li><a href="/superuser/">Back</a></li>
                <li class="active">Register Student</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section padding_layout_1">
  <div class="container">
    <div class="row">
      {% if success %}
            {% if message %}
            <div class="alert alert-danger">
              <strong>Failed! </strong> {{messge}}
            </div>
            {% else %}
            <div class="alert alert-danger">
              <strong>Success! </strong> Student added successfully.
            </div>
            {% endif %}
      {% endif %}
    </div>
    <div class="row">
      <div class="col-md-6">
        <form method="POST" action="/superuser/add_student">
          {% csrf_token %}
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">DOB</label>
            <div class="col-sm-10">
              <input type="date" class="form-control" name="dob" id="inputEmail3" placeholder="Student DOB">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Mob No</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" pattern="+?[\d]{10,13}" name="phone" id="inputEmail3" placeholder="Student Mobile Number">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="name" id="inputEmail3" placeholder="Student Name">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" name="email" id="inputEmail3" placeholder="Email">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" name="password" id="inputPassword3" placeholder="Password">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="file" accept="image/*" class="form-control" name="image" id="inputPassword3" placeholder="Password">
            </div>
          </div>
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
              <div class="col-sm-10">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" id="gridRadios1" value="option1" checked>
                  <label class="form-check-label" for="gridRadios1">
                    Male
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" id="gridRadios2" value="option2">
                  <label class="form-check-label" for="gridRadios2">
                    Female
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" id="gridRadios3" value="option3">
                  <label class="form-check-label" for="gridRadios3">
                    Other
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="form-group row">
            <div class="col-sm-10">
              <input type="submit" class="btn btn-primary" value="Submit"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
</div>
<!-- end inner page banner -->

{% endblock body %}


