{% extends "base.html" %}

{% load static %}

{% block body %}

<!-- inner page banner -->
<div id="inner_banner" class="section inner_banner_section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="title-holder">
            <div class="title-holder-cell text-left">
              <h1 class="page-title">Delete Student</h1>
              <ol class="breadcrumb">
                <li><a href="/">Back</a></li>
                <li class="active">Remove Student</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end inner page banner -->

<!--Remove Student data-->
<div class="section padding_layout_1">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <form>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Roll No</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Unique Identification Number for Student">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Aadhaar</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Student Aadhaar Number">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-danger">Delete Student Data</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
</div>




{% endblock body %}