{% extends "base.html" %}

{% load static %}

{% block title %}
Verify Certificates - 
{% endblock%}

{% block body %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <img src="{% static 'images/logos/it_logo.jpg' %}"
            style="width: 185px;" alt="logo">
          <div class="mt-1 mb-5 pb-1"></div>
        </div>
        <div class="card-header">
          Certificate Verification
        </div>
        <div class="card-body">
          <form id="verificationForm" method="POST" action="/student/verify_certificate">
            {% csrf_token %}
            <div class="form-group">
              <label for="certificateNumber">Enter Certificate Number:</label>
              <input type="text" class="form-control" name="id" required>
            </div>
            <button type="submit" class="btn btn-primary">Verify Certificate</button>
            <a href="/" style="color: white; text-decoration: none;"><button type="button" class="btn btn-secondary">Back To Home</button></a>

          </form>

          <div id="verificationResult" class="m-3 text-center">
            {% if post %}
            {% if certificate %}
            <div>
              <img src="/{{certificate.src}}"/>
            </div>
            <div>
              <a href="/{{certificate.src}}" class="btn btn-primary px-4" download="csit{{certificate.id}}.jpg">Download Certificate</a>
            </div>
            {% else %}
             <p class="alert alert-danger"> Certificate not found.</p>
            {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap JavaScript and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock body %}