{% extends "base.html" %}

{% load static %}

{% block title %}
Verify Certificates - 
{% endblock%}

{% block body %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <img src="{% static 'images/logos/it_logo.jpg' %}"
            style="width: 185px;" alt="logo">
          <div class="mt-1 mb-5 pb-1"></div>
        </div>
        <div class="card-header">
          Certificate Verification
        </div>
        <div class="card-body">
          <form id="verificationForm" method="POST" action="/student/verify_certificate">
            {% csrf_token %}
            <div class="form-group">
              <label for="certificateNumber">Enter Certificate Number:</label>
              <input type="text" class="form-control" name="id" required>
            </div>
            <button type="submit" class="btn btn-primary">Verify Certificate</button>
            <a href="/" style="color: white; text-decoration: none;"><button type="button" class="btn btn-secondary">Back To Home</button></a>

          </form>

          <div id="verificationResult" class="m-3 text-center">
            {% if post %}
            {% if certificate %}
            <div>
              <p>Dear {{certificate.Student_id.name}},</p>
              <p>Congratulations on successfully verifying your certificate for the course "<strong>{{certificate.Course_id.name}}</strong>." We are thrilled to recognize and celebrate your achievement.</p>
              <p>Your dedication and hard work have paid off, and we commend you on this remarkable accomplishment. Your commitment to learning and growth is truly commendable.</p>
              <h2>Certificate Details:</h2>
              <ul>
                  <li><strong>Student Name:</strong> {{certificate.Student_id.name}}</li>
                  <li><strong>Course:</strong> {{certificate.Course_id.name}}</li>
                  <li><strong>Certificate Number:</strong> {{certificate.certificate_no}}</li>
              </ul>
              <p>We believe this certification will serve as a testament to your skills and knowledge in [Course Topic/Area], and we hope it opens doors to new opportunities in your professional journey.</p>
              <p>Once again, congratulations on this milestone! We wish you continued success in all your future endeavors.</p>
              <p>Best regards,</p>
              <p>SCIT Computer Institute</p>
            </div>
            {% else %}
             <p class="alert alert-danger"> Certificate not found.</p>
            {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap JavaScript and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock body %}